
<Router AppAssembly="@typeof(Program).Assembly">

    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </CascadingAuthenticationState>
    </Found>
    <NotFound>

        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>Sorry, there's nothing at this adress'</p>
        </LayoutView>

    </NotFound>
</Router>



