@page "/HandleTickets"
@inject NavigationManager navigationManager
@inject CustomStateProvider authenticationStateProvider


@if (UserList == null)
{
    <DisplaySpinner />
}
else
{
    <Grid TItem="SupportMailDto"
          class="table table-hover table-bordered table-striped"
          DataProvider="UsersDataProvider"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="15" 
          ItemsPerPageText="1"
          PageSizeSelectorItems="[1]"
          PaginationItemsTextFormat="yes"
          AllowSorting="true"
          Responsive="true">
        <GridColumn TItem="SupportMailDto" HeaderText="Id" IsDefaultSortColumn="true" PropertyName="Id" SortKeySelector="item => item.Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="First Name" PropertyName="FirstName" SortKeySelector="item => item.User!.FirstName">
            @context.User!.FirstName
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Last Name" PropertyName="LastName" SortKeySelector="item => item.User!.LastName">
            @context.User!.LastName
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Credit" PropertyName="Credit" SortKeySelector="item => item.User!.Credit">
            @context.User!.Credit
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Address" PropertyName="Adress" SortKeySelector="item => item.User!.Adress">
            @context.User!.Adress
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Username" PropertyName="UserName" SortKeySelector="item => item.User!.UserName">
            @context.User!.UserName
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Email" PropertyName="Email" SortKeySelector="item => item.User!.Email">
            @context.User!.Email
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Phone Number" PropertyName="Phonenumber" SortKeySelector="item => item.User!.Phonenumber">
            @context.User!.Phonenumber
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Support" PropertyName="Support" SortKeySelector="item => item.Support!.LastName">
            @if (context.Support == null )
            {
                <div><p>Ticket is not assigned yet</p></div>
            }
            else
            {
                <a>@context.Support!.FirstName @context.Support.LastName</a>
            }
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Ticket Active" PropertyName="ActiveSupportMailDisplay" SortKeySelector="item => item.IsResolved">
            @context.IsResolved
        </GridColumn>
        <GridColumn TItem="SupportMailDto" HeaderText="Actions">

            @if (context.SupportId == null)
            {
                <Button @onclick="(() => HandleUserSupport(context))">Handle User</Button>
            }
            else
            {
                <div><a>User is being handled</a></div>
            }
        </GridColumn>
    </Grid>
}

@code {
    [Inject]
    ISupportService SupportService { get; set; } = default!;

    [Inject]
    IUsersService UserService { get; set; } = default!;

    [Inject]
    IOrdersService OrderService { get; set; } = default!;

    List<SupportMailDto> SupportMails { get; set; } = default!;

    List<UserDto> UserList { get; set; } = default!;

    List<OrderDto> OrderList { get; set; } = default!;



    protected override async Task OnInitializedAsync()
    {
        await FetchInformation();
    }

    protected async Task FetchInformation()
    {
        SupportMails = await SupportService.GetSupportMails();

        UserList = await UserService.GetUsers();

        OrderList = await OrderService.GetOrders();

        StateHasChanged();
    }

    private async Task<GridDataProviderResult<SupportMailDto>> UsersDataProvider(GridDataProviderRequest<SupportMailDto> request)
    {
        return await Task.FromResult(request.ApplyTo(SupportMails));
    }


    private async void HandleUserSupport(SupportMailDto supportmail)
    {
        int supportId = 0;
       
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        if (authState is not null)
        {
            string userIdValue = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
            if (int.TryParse(userIdValue, out supportId))
            {
                // supportId = userId;

            }

            var result = await SupportService.AssignSupportToTicket(supportmail.Id, supportId);

            if (result)
            {
                var userId = supportmail.UserId;
                navigationManager.NavigateTo($"/HandleUser/{userId}/{supportmail.Id}");
            }

        }
      
    }
}
