<h3>WareHouseOrderDisplay</h3>


@if (OrdersList == null)
{
    <DisplaySpinner />
}
else if (OrdersList.Count == 0)
{
    <h2>You have no orders that can be displayed</h2>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Placement Time</th>
                    <th>User ID</th>
                    <th>Order Status</th>
                    <th>Status Date</th>
                    <th>Update Status</th>
                    <th>Products</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var order in OrdersList)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.PlacementTime</td>
                        <td>@order.UserId</td>
                        <td>@order.OrderStatus.CurrentStatus</td>
                        <td>@order.OrderStatus.StatusDate</td>
                        <td>
                            <select @bind="order.OrderStatus.CurrentStatus" class="form-control">
                                @foreach (var status in Enum.GetValues<OrderStatusType>())
                                {
                                    <option value="@status">@status</option>
                                }
                            </select>
                            <button class="btn btn-primary mt-2" @onclick="() => UpdateOrderStatus(order.Id, order.OrderStatus.CurrentStatus)">Update Status</button>
                        </td>
                        <td>
                            @if (order.OrderItems.Any())
                            {@foreach (var item in order.OrderItems)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>QuantityCheck</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>@item.Product.Name</td>
                                            <td>@item.Quantity</td>
                                            <td>
                                                <input type="number" @bind="item.QuantityCheck" class="form-control" />
                                                <button class="btn btn-primary btn-solid mt-2" @onclick="() => QuantityCheck(item.Id, item.QuantityCheck)">Update Quantity</button>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            }
                            else
                            {
                                <p>No items</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (submitStatus != null)
    {
        <div class="alert @alertClass" role="alert">
            @submitStatus
        </div>
    }
}

@code {
    [Inject]
    private IOrdersService ordersService { get; set; } = default!;

    [Inject]
    private IOrderItemsService orderItemService { get; set; } = default!;

    [Parameter]
    public List<OrderDto> OrdersList { get; set; } = default!;

    [Parameter]
    public EventCallback<bool> OnStatusUpdated { get; set; }

    private string? submitStatus;
    private string? alertClass;


    private async Task UpdateOrderStatus(int orderId, OrderStatusType newStatus)
    {
        bool successResponse = await ordersService.UpdateOrderStatus(orderId, newStatus);

        if (successResponse)
        {
            submitStatus = "status updated successfully!";
            alertClass = "alert-success";
            await OnStatusUpdated.InvokeAsync(true);
        }
        else
        {
            submitStatus = "status updated Failed!";
            alertClass = "alert-danger";
        }
    }

    private async Task QuantityCheck(int orderItemId, int quantityCheck)
    {

        QuantityCheckDto quantitybool = new()
            {
                OrderItemId = orderItemId,
                QuantityCheck = quantityCheck
            };

        var successResponse = await orderItemService.QuantityCheck(orderItemId, quantitybool);
        if (successResponse)
        {
            submitStatus = "QuantityCheck was Succesfull!";
            alertClass = "alert-success";
        }
        else
        {
            submitStatus = "QuantityCheck has Failed!";
            alertClass = "alert-danger";
        }

    }
}
