@page "/Checkout"
@inject NavigationManager navigationManager
@inject CustomStateProvider authenticationStateProvider



<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="Command">
    <DataAnnotationsValidator/>
    <label for="inputAdressLine" class="sr-only">Adressline</label>
    <InputText id="inputAdressLine" class="form-control" aria-required="true" @bind-Value="Command!.BillingAdress.AddressLine" autofocus placeholder="Adressline"/>
    <ValidationMessage For="@(() => Command.BillingAdress.AddressLine)" />

    <label for="inputCity" class="sr-only">City</label>
    <InputText id="inputCity" class="form-control" aria-required="true" @bind-Value="Command.BillingAdress.City" autofocus placeholder="City" />
    <ValidationMessage For="@(() => Command.BillingAdress.City)" />

    <label for="inputPostCode" class="sr-only">PostCode</label>
    <InputText id="inputPostCode" class="form-control" aria-required="true" @bind-Value="Command.BillingAdress.PostCode" autofocus placeholder="PostCode" />
    <ValidationMessage For="@(() => Command.BillingAdress.PostCode)" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Purchase</button>
    <label class="text-danger">@error</label>

</EditForm>


@if (ShoppingCartItems == null)
{
    <DisplaySpinner />
}
else
{
    <section class="container-fluid">
        <div class="col-md-6">
            <h4 class="mb-2">Payment Summary</h4>
            @if (ShoppingCartItems.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ShoppingCartItems)
                        {
                            <tr>
                                <td>@item.Quantity x @item.ProductName</td>
                                <td>@item.TotalPrice.ToString("C")</td>
                            </tr>
                        }
                        <tr>
                            <td><b>Total </b></td>
                            <td><b></b>@PaymentAmount.ToString("C")</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently have no items in your shopping cart</p>
            }
        </div>
    </section>
}

@code {
    [Inject]
    ICartOrderTransferService CartOrderTransferService { get; set; } = default!;
        
    [Inject]
    ICartItemsService CartItemService { get; set; } = default!;

    [Inject]
    private ICartsService CartsService { get; set; } = default!;

    protected List<CartItemDto> ShoppingCartItems { get; set; } = default!;

    private ClaimsPrincipal User = default!;

    private CartDto cart = default!;

    [SupplyParameterFromForm]
    PlaceOrderCommand? Command { get; set; } = new();

    string? error { get; set; }

    private int UserId;

    protected int TotalQuantity { get; set; } = default!;

    protected decimal PaymentAmount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetAuthenticatedUserCart();

            ShoppingCartItems = await CartItemService.GetCartItems(UserId);

            PaymentAmount = ShoppingCartItems.Sum(p => p.TotalPrice);
            TotalQuantity = ShoppingCartItems.Sum(p => p.Quantity);

        }
        catch (Exception)
        {

            throw;
        }
    }

    protected void OnSubmit()
    {
        navigationManager.NavigateTo("CheckoutSuccess");
    }

    protected async Task GetAuthenticatedUserCart()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        User = authState.User;

        if (!User.Identity!.IsAuthenticated)
        {
            navigationManager.NavigateTo("");
        }

        string userIdClaimValue = User.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
        if (int.TryParse(userIdClaimValue, out int userId))
        {
            UserId = userId;
        }

        if (User.Identity!.IsAuthenticated)
        {
            cart = await CartsService.GetCartByUser(UserId);
        }
    }

    private List<CartItemDto> GetCartItems(int userId)
    {

        var cartItems = ShoppingCartItems
        .Where(ci => ci.Id == cart.UserId)
        .ToList();

        return cartItems!;
    }

    private void CartChanged()
    {
        CartItemService.RaiseEventOnShoppingCartChanged(TotalQuantity);
    }
}
