@inject IJSRuntime JsRuntime

@if (Review != null)
{
    <div class="review-container col-md-6">
        <div class="review-header">
            <span class="review-username">Review by @Review.User!.UserName</span>
            <span class="review-date"> - Posted: @Review.CreatedAt?.ToString("yyyy-MM-dd")</span>
        </div>
        <div class="review-content-box">
            <h4 class="review-title">Title: @Review.Title</h4>
            <div class="review-divider"></div>
            <p class="review-content">@Review.Content</p>
        </div>
        @if (CanEdit)
        {
            <button @onclick="ShowEditModal" class="btn btn-primary">Edit</button>
            
            <button @onclick="DeleteReview" class="btn btn-danger">Delete</button>
        }
    </div>
}

@if (submitStatus != null)
{
    <div class="alert @alertClass" role="alert">
        @submitStatus
    </div>
}

@code {
    [Inject]
    private IReviewServices reviewServices { get; set; } = default!;

    [Parameter]
    public ReviewDto Review { get; set; } = default!;

    [Parameter]
    public EventCallback<ReviewDto> OnEditRequested { get; set; }

    [Parameter]
    public EventCallback<bool> OnReviewDeleted { get; set; }

    [Parameter]
    public int UserId { get; set; }

    private bool CanEdit => Review.UserId == UserId;

    private string? submitStatus;
    private string? alertClass;

    private void ShowEditModal()
    {
        OnEditRequested.InvokeAsync(Review);
    }

    private async Task DeleteReview()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");

        if (confirmed)
        {
            var successStatus = await reviewServices.DeleteReview(Review.Id, UserId);

            if (successStatus)
            {
                submitStatus = "Review deleted successfully!";
                alertClass = "alert-success";
            }
            else
            {
                submitStatus = "Review deleted failed!";
                alertClass = "alert-danger";
            }
        }
        await OnReviewDeleted.InvokeAsync(true);
    }
}